-   
    var itemBuys= [
        {
            src: 'assets/buys1.png',
            alt: 'buys1',
            nameProduct: 'Cây chân chim',
            newPrice: '250.000 đ', 
        },
        {
            src: 'assets/buys2.png',
            alt: 'buys2',
            nameProduct: 'Cây dạ lam',
            newPrice: '150.000 đ', 
        },
        {
            src: 'assets/buys3.png',
            alt: 'buys3',
            nameProduct: 'Cây danh dự',
            newPrice: '450.000 đ', 
        },
        {
            src: 'assets/buys4.png',
            alt: 'buys4',
            nameProduct: 'Cây đa búp đỏ',
            newPrice: '200.000 đ', 
        },
        {
            src: 'assets/buys5.png',
            alt: 'buys5',
            nameProduct: 'Cây cọ ta',
            newPrice: '300.000 đ', 
        },
        {
            src: 'assets/buys6.png',
            alt: 'buys6',
            nameProduct: 'Cây dứa nhỏ',
            newPrice: '275.000 đ', 
        },
    ]  

-   
    var itemSale= [
        {
            src: 'assets/sale1.png',
            alt: 'sale1',
            label: '-25%',
            nameProduct: 'Cây danh dự',
            newPrice: '475.000 đ', 
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/sale2.png',
            alt: 'sale2',
            label: '-10%',
            nameProduct: 'Cây dừa nhỏ',
            newPrice: '668.000 đ', 
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/sale3.png',
            alt: 'sale3',
            nameProduct: 'Cây cọ ta',
            newPrice: '450.000 đ', 
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/sale4.png',
            alt: 'sale4',
            nameProduct: 'Cây dạ lam',
            newPrice: '200.000 đ',
            oldPrice: '250.000 đ' 
        },
        {
            src: 'assets/sale5.png',
            alt: 'sale5',
            nameProduct: 'Cây danh dự',
            newPrice: '780.000 đ', 
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/sale6.png',
            alt: 'sale6',
            nameProduct: 'Cây dứa nhỏ',
            newPrice: '680.000 đ', 
            oldPrice: '250.000 đ'
        },
    ]  
