-
    var menuSidebar = [
        {   
            heading_id: 'headingOne',
            collapse_id: 'collapseOne',
            category: 'Cây chậu treo (10)',
            product: ['Cây ngọc ngân', 'Cây dương cầm', 'Cây đa đỏ']
        },
        {   
            active: 'active',
            heading_id: 'headingTow',
            collapse_id: 'collapseTow',
            category: 'Cây có hoa (5)',
            product: ['Cây cọ ta', 'Cây dứa nhỏ', 'Cây chân chim', 'Cây danh dự']
        },
        {   
            heading_id: 'headingThree',
            collapse_id: 'collapseThree',
            category: 'Cây dây leo',
            product: ['Cây hoa mười', 'Cây dạ lam', 'Cây chân chim']
        },
        {   
            heading_id: 'headingFour',
            collapse_id: 'collapseFour',
            category: 'Cây để bàn',
            product: ['Cây cọ ta', 'Cây dứa nhỏ', 'Cây chân chim', 'Cây danh dự']
        },
        {   
            heading_id: 'headingFive',
            collapse_id: 'collapseFive',
            category: 'Cây may mắn',
            product: ['Cây cọ ta', 'Cây chân chim', 'Cây danh dự']
        },
        {   
            heading_id: 'headingSix',
            collapse_id: 'collapseSix',
            category: 'Cây trang trí',
            product: ['Cây đa búp đỏ', 'Cây hoa giấy', 'Cây xương rồng']
        },
        {   
            heading_id: 'headingSeven',
            collapse_id: 'collapseSeven',
            category: 'Cây nội thất',
            product: ['Cây dừa xiêm', 'Cây chân chim', 'Cây xương rồng', 'Cây danh dự']
        }
    ]

-
    var menuSearchPrices = [
        {
            heading_id: 'headingEight',
            collapse_id: 'collapseEight',
            price: '200.000 Đ - 400.000 Đ'
        },
        {
            heading_id: 'headingNine',
            collapse_id: 'collapseNine',
            price: '400.000 Đ - 600.000 Đ'
        },
        {
            heading_id: 'headingTen',
            collapse_id: 'collapseTen',
            price: '600.000 Đ - 800.000 Đ'
        },
        {
            heading_id: 'headingElevent',
            collapse_id: 'collapseElevent',
            price: '800.000 Đ - 1000.000 Đ'
        }
    ]

-
    var colorLefts = [
        {
            color: 'green',
            nameColor: 'Xanh cây'
        },
        {
            color: 'red-orange',
            nameColor: 'Đỏ cam'
        },
        {
            color: 'violet',
            nameColor: 'Tím'
        }
    ]

-
    var colorRights =
    [
        {
            color: 'blue',
            nameColor: 'Xanh trời'
        },
        {
            color: 'yellow',
            nameColor: 'Vàng'
        },
        {
            color: 'pink',
            nameColor: 'Hồng'
        }
    ]

-
    var productGrids = [
        {
            src: 'assets/prd-category1.png',
            alt: 'prd-category1',
            nameProduct: 'Cây da lam',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category2.png',
            alt: 'prd-category2',
            nameProduct: 'Cây danh dự',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category3.png',
            alt: 'prd-category3',
            nameProduct: 'Cây chân chim',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category4.png',
            alt: 'prd-category4',
            nameProduct: 'Cây cọ ta',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category5.png',
            alt: 'prd-category5',
            nameProduct: 'Cây dứa nhỏ',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category6.png',
            alt: 'prd-category6',
            nameProduct: 'Cây đa búp đỏ',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category7.png',
            alt: 'prd-category7',
            nameProduct: 'Cây chân chim',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category8.png',
            alt: 'prd-category8',
            nameProduct: 'Cây dứa nhỏ',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category9.png',
            alt: 'prd-category9',
            nameProduct: 'Cây cọ ta',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category10.png',
            alt: 'prd-category10',
            nameProduct: 'Cây da lam',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category11.png',
            alt: 'prd-category11',
            nameProduct: 'Cây danh dự',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/prd-category12.png',
            alt: 'prd-category12',
            nameProduct: 'Cây dứa nhỏ',
            newPrice: '250.000 đ',
            oldPrice: '250.000 đ'
        }
    ]

-
    var itemList= [
        {
            src: 'assets/prd-list1.png',
            alt: 'prd-list',
            nameProduct: 'Cây ngọc ngân',
            contentProduct: 'Cây ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng',
            priceProduct: '279. 000 đ'
        },
        {
            src: 'assets/prd-list2.png',
            alt: 'prd-list2',
            nameProduct: 'Cây ngọc ngân',
            contentProduct: 'Cây ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng',
            priceProduct: '279. 000 đ'
        },
        {
            src: 'assets/prd-list3.png',
            alt: 'prd-list3',
            nameProduct: 'Cây ngọc ngân',
            contentProduct: 'Cây ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng',
            priceProduct: '279. 000 đ'
        },
        {
            src: 'assets/prd-list4.png',
            alt: 'prd-list4',
            nameProduct: 'Cây ngọc ngân',
            contentProduct: 'Cây ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng',
            priceProduct: '279. 000 đ'
        },
        {
            src: 'assets/prd-list5.png',
            alt: 'prd-list5',
            nameProduct: 'Cây ngọc ngân',
            contentProduct: 'Cây ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng',
            priceProduct: '279. 000 đ'
        }
    ]
