-   
    var itemNew= [
        {
            src: 'assets/new1.png',
            alt: 'new1',
            label: 'NEW',
            nameProduct: 'Cây danh dự',
            newPrice: '250.000 đ', 
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/new2.png',
            alt: 'new2',
            nameProduct: 'Cây xương rồng',
            newPrice: '250.000 đ', 
            oldPrice: '250.000 đ'
        },
        {
            src: 'assets/new3.png',
            alt: 'new3',
            nameProduct: 'Cây dạ lam',
            newPrice: '250.000 đ',
            oldPrice: '250.000'
        },
        {
            src: 'assets/new4.png',
            alt: 'new4',
            nameProduct: 'Cây dừa nhỏ',
            newPrice: '250.000 đ', 
            oldPrice: '250.000'
        },
        {
            src: 'assets/new5.png',
            alt: 'new5',
            nameProduct: 'Cây danh dự',
            newPrice: '680.000 đ',
            oldPrice: '250.000' 
        },
        {
            src: 'assets/new6.png',
            alt: 'new6',
            nameProduct: 'Cây dạ lam',
            newPrice: '880.000 đ',
            oldPrice: '250.000' 
        },
        {
            src: 'assets/new7.png',
            alt: 'new7',
            nameProduct: 'Cây chân chim',
            newPrice: '750.000 đ',
            oldPrice: '250.000' 
        },
        {
            src: 'assets/new8.png',
            alt: 'new8',
            nameProduct: 'Cây đa búp đỏ',
            newPrice: '150.000 đ',
            oldPrice: '250.000' 
        },
    ]  
