mixin login-content 
    +breadcrumb-page(loginBreadcrumb)
    section.login 
        .row.g-3
            .col-md-6.col-sm-12 
                h2.mb-5.mt-5 Thông tin cá nhân
                +inputForm(inputLogin)
                .login-control.col-md-6.mb-3.w-100
                    .form-check
                        input.form-check-input(type="checkbox" value="")#flexCheckDefault
                        label.form-check-label(for="flexCheckDefault") Ghi nhớ tài khoản
                    +link() Bạn quên mật khẩu?
                .login-btn.mb-5 
                    button(type="submit") Đăng nhập 
            .col-md-6.col-sm-12
                h2.mb-3.mt-5 Bạn chưa có tài khoản
                p.mb-3 Đăng ký tài khoản ngay để có thể mua hàng nhanh chóng và dễ dàng hơn. Ngoài ra còn có rất nhiều chính sách và ưu đãi cho các thành viên citybike
                .login-btn.mb-5 
                    button(type="submit") Đăng Ký
