-
    var cartBody= [
        {
           src: 'assets/cart1.png',
           alt: 'cart1',
           nameProduct: 'Cây văn phòng',
           priceProduct: '250.000 đ',
           qtyProduct: '1',
           totalPrice: '250.000 đ' 
        },
        {
           src: 'assets/cart1.png',
           alt: 'cart1',
           nameProduct: 'Cây văn phòng',
           priceProduct: '250.000 đ',
           qtyProduct: '1',
           totalPrice: '250.000 đ' 
        },
        {
           src: 'assets/cart1.png',
           alt: 'cart1',
           nameProduct: 'Cây văn phòng',
           priceProduct: '250.000 đ',
           qtyProduct: '1',
           totalPrice: '250.000 đ' 
        }
    ] 

-   var cartBreadcrumb = ['Giỏ hàng']
