-   var newsBreadcrumb= ['Tin tức']

-
    var navNews= [
        {
            src: 'assets/nav-news1.png',
            alt: 'nav-news1',
            newsDesc: 'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách'
        },
        {
            src: 'assets/nav-news2.png',
            alt: 'nav-news2',
            newsDesc: 'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách'
        },
        {
            src: 'assets/nav-news3.png',
            alt: 'nav-news3',
            newsDesc: 'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách'
        },
        {
            src: 'assets/nav-news4.png',
            alt: 'nav-news4',
            newsDesc: 'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách'
        },
        {
            src: 'assets/nav-news5.png',
            alt: 'nav-news5',
            newsDesc: 'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách'
        },
    ]

-   var blogTags = ['Cây văn phòng', 'Cây phát lộc', 'Cây xanh', 'Cây trang trí', 'Cây', 'Plants', 'Sức khỏe', 'Quà tặng', 'Lưu niệm']

-
    var itemNewLists = [
        {
            src: 'assets/news-list1.png',
            alt: 'news-list1',
            title: 'Cách bố trí hoa chậu trước cửa ấn tượng ngày đầu tiên',
            date: '20/12/2015',
            time: '11:20',
            comment: '0 Bình luận',
            desc: 'Như thể hiện sự yêu mến hay mến khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một..'    
        },
        {
            src: 'assets/news-list2.png',
            alt: 'news-list2',
            title: 'Cách bố trí hoa chậu trước cửa ấn tượng ngày đầu tiên',
            date: '20/12/2015',
            time: '11:20',
            comment: '0 Bình luận',
            desc: 'Như thể hiện sự yêu mến hay mến khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một..'
        },
        {
            src: 'assets/news-list3.png',
            alt: 'news-list3',
            title: 'Cách bố trí hoa chậu trước cửa ấn tượng ngày đầu tiên',
            date: '20/12/2015',
            time: '11:20',
            comment: '0 Bình luận',
            desc: 'Như thể hiện sự yêu mến hay mến khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một..'
        }
    ]

-   var paginations = ['Trang trước', 1, 2, 3, 4, 'Trang cuối']
