include ./vars_header

include ../base/mixins

mixin itemSocial(item,href)
    li 
        +link(href)
            if block
                block
            = item

mixin itemMenu(item,active,href)
    li(class= active ? active : "")
        +link(href)= item
            if block 
                block
