-
    var similarProducts = [
        {
            src: 'assets/similar1.png',
            alt: 'similar1',
            nameProduct: 'Cây cọ Nhật',
            newPrice: '250.000 đ',
            oldPrice: '250.000'
        },
        {
            src: 'assets/similar2.png',
            alt: 'similar2',
            nameProduct: 'Cây hồng môn',
            newPrice: '250.000 đ',
            oldPrice: '250.000'
        },
        {
            src: 'assets/similar3.png',
            alt: 'similar3',
            nameProduct: 'Cây phát lộc',
            newPrice: '250.000 đ',
            oldPrice: '250.000'
        },
        {
            src: 'assets/similar4.png',
            alt: 'similar4',
            nameProduct: 'Cây kim ngưu',
            newPrice: '250.000 đ',
            oldPrice: '250.000'
        }
    ]

-
    var imgDetail = [
        {
            src: 'assets/detail.png',
            alt: 'detail1',
            imgChild: [
                {
                    src: 'assets/detail2.png',
                    alt: 'detail2',
                },
                {
                    src: 'assets/detail3.png',
                    alt: 'detail3',
                },
                {
                    src: 'assets/detail4.png',
                    alt: 'detail4',
                },
                {
                    src: 'assets/detail5.png',
                    alt: 'detail5',
                },
                {
                    src: 'assets/detail6.png',
                    alt: 'detail6',
                }
            ]
        }
    ]

-   var detailBreadcrumb = ['Cây dạ lam']

-
    var itemSocials = [
        {
            icon: 'ri-facebook-circle-fill',
            label: 'Facebook'
        },
        {
            icon: 'ri-twitter-fill',
            label: 'Twiter'
        },
        {
            icon: 'ri-instagram-fill',
            label: 'Instagram'
        },
        {
            icon: 'ri-share-line',
            label: 'Share'
        }
    ]

-
    var tabsBtn = [
        {
            id: 'nav-home-tab',
            nameBtn: 'Thông tin sản phẩm',
            controls: 'nav-home',
            selected: 'true'
        },
        {
            id: 'nav-profile-tab',
            nameBtn: 'Khách hàng đánh giá',
            controls: 'nav-profile',
            selected: 'false'
        },
        {
            id: 'nav-contact-tab',
            nameBtn: 'Thẻ tag',
            controls: 'nav-contact',
            selected: 'false'
        }
    ]

-
    var contentTabOnes = [
        {
            id: 'nav-home',
            class: ['tab-first', 'ps-3', 'pe-3', 'pt-3', 'show', 'active'],
            label: 'nav-home-tab',
            contentShort: ['Tên phổ Thông: Dạ lam, Huỳnh tinh cảnh, Dong vân.', 'Tên khoa học: Calathea zebrina.', 'Họ thực vật: Marantaceae (Củ dong).', 'Chiều cao: 0,8 - 1,2m.', 'Cây lam dạ có nhiều nguồn gốc từ Brazil, được du nhập và phân bố rộng khắp ở Việt Nam.'],
            contentLong: 'Cây Dong Vằn còn có tên gọi khác là cây Dạ Lam, Huỳnh Tinh Cảnh. Cây được biết đến với tên khoa học là Calathea zebrina. Giống cây này nằm trong họ Củ Dong. Giống cây này thường mọc thành những bụi cây thưa. Chiều cao trung bình của cây khoảng 1m. Cây sống rất lâu năm với phần rễ khỏe và dài, nằm sâu dưới lòng đất. Đặc tính lá cây dạng bầu dục, lá nhọn ở hai đầu và có sắc đỏ tía ở phần mặt dưới. Mặt trên của lá sắc lục nhạt và được bao phủ bởi lớp lông mịn. Cây có những vằn lục đậm sóng song trên mặt lá và chạy dọc theo các mép lá. Cuống lá cong và có dạng hình lòng máng. Cây cho lá dáng vô cùng đẹp với phần gân bên nổi rất rõ, mảnh. Cây cho hoa mọc thành cụm giữa các phiến la. Hoa mọc trong gốc cuống chung khá lớn. Hoa mọc ở phần đỉnh với hoa sắc tím mọc dày đặc ở phần đỉnh cây. Giống cây này có thể chịu bóng bán phần và có thể làm cây trang trí trong nhà, khu văn phòng. Tốc độ sinh trưởng của cây nhanh và có nhu cầu nước cao. Cây có thể nhân giống nhanh chóng và dễ dàng bằng việc tách bụi.'
        }
    ]

-
    var contentTabTows = [
        {
            id: 'nav-profile',
            label: 'nav-profile-tab'
        }
    ]

-
    var contentTabThrees = [
        {
            id: 'nav-contact',
            class: ['tab-three', 'ps-3', 'pt-3'],
            label: 'nav-contact-tab',
            content: ['#Caydong', '#Marantaceae', '#duoinuoc']
        }
    ]

-
    var comment = [
        {
            src: 'assets/avt-detail-news.png',
            alt: 'avatar',
            nameUser: 'Nguyễn Văn A',
            content: 'It is a long established fact that a reader will be distracted by the readable content of a page.',
            date: 'Thứ 7, 26/12/2015 12:00 AM'
        },
        {
            src: 'assets/avt-detail-news.png',
            alt: 'avatar',
            nameUser: 'Nguyễn Văn B',
            content: 'It is a long established fact that a reader will be distracted by the readable content of a page.',
            date: 'Thứ 7, 26/12/2015 12:00 AM'
        },
        {
            src: 'assets/avt-detail-news.png',
            alt: 'avatar',
            nameUser: 'Nguyễn Văn C',
            content: 'It is a long established fact that a reader will be distracted by the readable content of a page.',
            date: 'Thứ 7, 26/12/2015 12:00 AM'
        }
    ]
