-
    var itemNews = [
        { 
            src: 'assets/new1.png',
            alt: 'new1',
            date: 'Thứ 7, ngày 31, tháng 12, năm 2015',
            title: '15 thiết kế phòng ngủ tuyệt đẹp vạn người mê',
            content: 'Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hện nay nhé'
        },
        { 
            src: 'assets/new2.png',
            alt: 'new2',
            date: 'Thứ 7, ngày 31, tháng 12, năm 2015',
            title: 'Tạo tiểu cảnh góc sân cho nhà phố, biệt thự',
            content: 'Khi bước từ ngõ vào hay từ trong nhà đi ra, góc sân luôn là điểm nhìn đầu tiên của chúng ta.'
        },
        { 
            src: 'assets/new3.png',
            alt: 'new3',
            date: 'Thứ 7, ngày 31, tháng 12, năm 2015',
            title: 'Cách bố trí chậu hoa trước cửa ấn tượng',
            content: 'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa'
        }
    ]
